{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .admin { background-image: url("{{ asset('build/Portfolio/BG/forest-old-growth-nature-green-wallpaper.jpg') }}")}
</style>

<section class="admin">

{% include 'content_manager/navbar.html.twig' %}

<div class="panel" id="panel">
  <p>Bienvenue dans la page d' Administration</p>
</div>


</section>
<script>
  let clicklink = document.querySelectorAll(".clicklink");
  let clickbutton = document.querySelector(".round");
  let selector = document.querySelector(".rect");

  function togglePanel() {

      if (selector.classList.contains("off")) {
        selector.classList.remove("off");
        selector.style.display = "flex";
        selector.classList.add("on");
      } else {
        selector.classList.remove("on");
        selector.classList.add("off");
        setTimeout(function() {
          selector.style.display = "none";
        }, 1000);
      }
    }
  

  clickbutton.addEventListener("click", togglePanel);

  clicklink.forEach(function(link) {
    link.addEventListener("click", togglePanel);
  });
</script>
{% endblock %}
