{% extends 'base.html.twig' %}

{% block title %}New KnowledgeManager{% endblock %}

{% block body %}
    <style>
      .admin { background-image: url("{{ asset('build/Portfolio/BG/forest-old-growth-nature-green-wallpaper.jpg') }}")}
    </style>


<section class="admin">
    <div class="panel" style="overflow-y: scroll;">
    <h1>Create new KnowledgeManager</h1>

    {{ include('admin/knowledge_manager/_form.html.twig') }}

    <a href="{{ path('app_knowledge_manager_index') }}">back to list</a>
    </div>
    </section>
{% endblock %}
