{% extends 'base.html.twig' %}

{% block title %}New KnowledgeManager{% endblock %}

{% block body %}
    <h1>Create new KnowledgeManager</h1>

    {{ include('admin/knowledge_manager/_form.html.twig') }}

    <a href="{{ path('app_knowledge_manager_index') }}">back to list</a>
{% endblock %}
