<footer>
    <div alt="logo" class="imgfooter" style="background-image: url('{{ asset("build/Portfolio/icons/Curhusky-Logo-Small.png") }}')"
    onmouseover="this.style.backgroundImage='url(/build/Portfolio/icons/Curhusky-Logo-Big.png)'"></div>
    <div class="footext"><p>Cur.Husky ©</p></div>
</footer>