
<div class="navcontainer">

<nav class="round">
        <img id="tree" src="{{ asset('build/Portfolio/icons/arbre-aux-nombreuses-feuilles.png') }}" alt="arbo">
</nav>

<div class="rect off">
<a href="#Home" class="clicklink">Accueil</a>
<hr>
<a href="#Projects" class="clicklink">Projets</a>
<hr>
<a href="#Skills" class="clicklink">Compétences</a>
<hr>
<a href="#Knowledge" class="clicklink">Connaissances</a>
</div>
</div>
