{% extends 'base.html.twig' %}

{% block title %}Hello ContentManagerController!{% endblock %}

{% block body %}

{% include 'content_manager/navbar.html.twig' %} 
<div class="panel" id="panel">
  <!-- Contenu des liens de la navbar sera affiché ici -->
</div>

<script>
  let clicklink = document.querySelectorAll(".clicklink");
  let clickbutton = document.querySelector(".round");
  let selector = document.querySelector(".rect");

  function loadContent(event) {
    event.preventDefault();
    let target = event.target.getAttribute("data-entity");
    if (target) {
      let url = "{{ path('app_ContentManagerList', { 'entity': '__ENTITY__' }) }}";
      url = url.replace('__ENTITY__', target);

      fetch(url)
        .then(response => response.text())
        .then(data => document.getElementById("panel").innerHTML = data);
        
      selector.classList.remove("on");
      selector.classList.add("off");
      setTimeout(function() {
        selector.style.display = "none";
      }, 1000);
    } else {
      if (selector.classList.contains("off")) {
        selector.classList.remove("off");
        selector.style.display = "flex";
        selector.classList.add("on");
      } else {
        selector.classList.remove("on");
        selector.classList.add("off");
        setTimeout(function() {
          selector.style.display = "none";
        }, 1000);
      }
    }
  }

  clickbutton.addEventListener("click", loadContent);

  clicklink.forEach(function(link) {
    link.addEventListener("click", loadContent);
  });
</script>
{% endblock %}
