<div class="navcontainer">
  <nav class="round">
    <img id="tree" src="{{ asset('build/Portfolio/icons/arbre-aux-nombreuses-feuilles.png') }}" alt="arbo">
  </nav>

  <div class="rect off">
    <a href="#" class="clicklink" data-target="projects">Projets</a>
    <hr>
    <a href="#" class="clicklink" data-target="skills">Compétences</a>
    <hr>
    <a href="#" class="clicklink" data-target="knowledge">Connaissances</a>
  </div>
</div>