{# projects.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
{#
  <h1>Liste des projets</h1>
  <ul>
    {% for project in entities %}
      <li>{{ project.name }}</li>
    {% endfor %}
  </ul> #}

  {# Add links for create, edit, and delete actions if needed #}
  

{% endblock %}
