{% extends 'base.html.twig' %}

{% block title %}Edit SkillsManager{% endblock %}

{% block body %}
    <style>
      .admin { background-image: url("{{ asset('build/Portfolio/BG/forest-old-growth-nature-green-wallpaper.jpg') }}")}
    </style>


<section class="admin">
    <div class="panel" style="overflow-y: scroll;">
    <h1>Edit SkillsManager</h1>

    {{ include('skills_manager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_skills_manager_index') }}">back to list</a>

    {{ include('skills_manager/_delete_form.html.twig') }}

    </div>
    </section>
{% endblock %}
